#viewDiv {
  background-size: cover;
}

.detailed {
  text-align: left;
}

p {
  font-size: 200%;
  text-align: center;
  margin: 0%;
  background-color: transparent !important;
}

#pokeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height: 190px;
  height: 70%;
  padding-right: 5%;
  padding-top: 5%;
  padding-left: 5%;
}

#evolutionImg {
  width: 15px;
  height: auto;
}

.mainGrid {
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: 12px;
}