.viewDiv {
  background-size: cover;
  padding: 1%;
}

.detailed {
  text-align: left;
}

.name {
  font-size: 200%;
  margin: 0%;
  background-color: transparent !important;
}

.selectedPokemonImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height: 190px;
  height: 70%;
  padding: 5%;
}

.evolutionImg {
  width: auto;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.titleGrid {
  margin: 5%;
  display: grid;
  grid-template-columns: auto 100px 100px;
  /* repeat(auto-fit, minmax(100px, 1fr)); */
  grid-gap: 12px;
}

.evolutionGrid {
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 12px;
}

h3 {
  margin: 0;
  padding-left: 10px;
}

h4 {
  margin: 0;
  padding-left: 20px;
}

h5 {
  margin: 0;
  padding-left: 30px;
}

h6 {
  margin: 0;
  padding-left: 40px;
}