.moves {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.bothArenas {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.arena {
  padding-right: 10%;
  padding-left: 10%;
  height: 60%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.arenaColumn {
  max-width: 50%;
  height: 50%;
}

.arenaImg {
  width: auto;
  height: 50%;
  margin: 1%;
}

#oponnent {
  padding-top: 5%;
  align-content: left;
  text-align: left;
}

#player {
  padding-top: 5%;
  text-align: right;
}